*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


h1{
  font-size: 80px;
  font－family: "宋体";
  font-weight: normal;
  color: #F6BB08;
  text-align: center;
  margin: 2rem 0;
}
.header{
    text-align: center;
    color: #9C9C9C;
    padding-top: 50px;
    padding-bottom: 50px;
}
body{
    background-color: #24252d;
    background:url("../jpg/2e0ed8e8fc9b4e4c00fcbd1b5cf5e98e.jpeg") no-repeat;
    background-size: 100% 100%;


}
.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.front {}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 15px;
  color: #d7ea37;
  font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	opacity: .6;
	background-color: #000;
	/* -webkit-backface-visibility: hidden; */
	backface-visibility: hidden;
	border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    font-size: 4px;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}



.front .inner p{
  font-size: 15px;
}

.front .inner p:after{
  content: '';
  width: 3.5rem;
  height: 1px;
  position: absolute;
  background: #ff3818;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: -.75rem; */
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    /* width: 50%; */
    /* margin: 0 0 2rem 0; */
  }
}

.float-left {
    float: left
}

.float-right {
    float: right
}


.video-com {
    font-size: 20px;
    width: 15%;
}

.video-com-text {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.video-com-text, .video-com i {
    display: inline-block;
    line-height: 35px;
    vertical-align: middle
}

.video-com i {
    font-size: 30px;
    margin-right: 3px;
}


@font-face {
    font-family: hkfont;
    font-display: auto;
    src: url(https://hk.bdstatic.com/static/haokan-pc/fonts/iconfont.c754ed93.eot);
    src: url(https://hk.bdstatic.com/static/haokan-pc/fonts/iconfont.c754ed93.eot#iefix) format("embedded-opentype"), url(https://hk.bdstatic.com/static/haokan-pc/fonts/iconfont.f1a61673.woff) format("woff"), url(https://hk.bdstatic.com/static/haokan-pc/fonts/iconfont.7d7d6acc.ttf) format("truetype"), url(https://hk.bdstatic.com/static/haokan-pc/imgtic/fonts7a0a99.svg#iconfont) format("svg")
}

[class*=" icon-"], [class^=icon-] {
    font-family: hkfont;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-delete:before {
    content: "\e606"
}

.icon-wechat:before {
    content: "\e607"
}

.icon-weibo:before {
    content: "\e608"
}

.icon-download:before {
    content: "\e609"
}

.icon-upload:before {
    content: "\e60a"
}

.icon-thumb:before {
    content: "\e60b"
}

.icon-video:before {
    content: "\e60c"
}

.icon-time:before {
    content: "\e60d"
}

.icon-rightarrow:before {
    content: "\e60e"
}

.icon-thumbempty:before {
    content: "\e60f"
}

.icon-search:before {
    content: "\e610"
}

.icon-quit:before {
    content: "\e611"
}

.icon-personalcenter:before {
    content: "\e612"
}

.icon-qq:before {
    content: "\e613"
}

.icon-introduce:before {
    content: "\e614"
}

.icon-message:before {
    content: "\e615"
}

.icon-eye:before {
    content: "\e616"
}

.icon-identity:before {
    content: "\e617"
}

.icon-history:before {
    content: "\e618"
}

.icon-emoji:before {
    content: "\e619"
}

.icon-comment:before {
    content: "\e61a"
}

.icon-downarrow:before {
    content: "\e61b"
}

.icon-collect:before {
    content: "\e61c"
}

.icon-zhuanlan:before {
    content: "\e61e"
}

.icon-more:before {
    content: "\e61f"
}

.icon-uncollect:before {
    content: "\e622"
}

.icon-collected:before {
    content: "\e623"
}

.icon-guanzhu:before {
    content: "\e624"
}

.icon-arrow:before {
    content: "\e62b"
}

.icon-up:before {
    content: "\e62c"
}

.icon-creator:before {
    content: "\e62d"
}

.icon-update:before {
    content: "\e62e"
}

.icon-chart:before {
    content: "\e62f"
}

.icon-down:before {
    content: "\e630"
}

.icon-hold:before {
    content: "\e631"
}

.icon-1:before {
    content: "\e632"
}

.icon-7:before {
    content: "\e633"
}

.icon-more1:before {
    content: "\e634"
}

.icon-3:before {
    content: "\e635"
}

.icon-share:before {
    content: "\e636"
}

.icon-change:before {
    content: "\e637"
}

.icon-4:before {
    content: "\e638"
}

.icon-phone:before {
    content: "\e639"
}

.icon-8:before {
    content: "\e63a"
}

.icon-collect1:before {
    content: "\e63b"
}

.icon-9:before {
    content: "\e63c"
}

.icon-6:before {
    content: "\e63d"
}

.icon-10:before {
    content: "\e63e"
}

.icon-5:before {
    content: "\e63f"
}

.icon-comment1:before {
    content: "\e640"
}

.icon-2:before {
    content: "\e641"
}

.icon-like:before {
    content: "\e642"
}

.icon-hot:before {
    content: "\e643"
}
